<%= form_for(@notice) do |f| %>
  <% if @notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notice.errors.count, "error") %> prohibited this notice from being saved:</h2>

      <ul>
      <% @notice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field left">
    <%= f.text_field :title, class: 'form-control', placeholder: "タイトル", autofocus: true  %>
  </div>
  <div class="field left">
    <br>
    <%= f.file_field :image %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "登録", class: "btn btn-warning btn-block" %>
  </div>
<% end %>
