<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
      <h1>お知らせ</h1>
      <% if current_user.admin %>
        <%= link_to '新規作成', new_notice_path, class: 'btn btn-default btn-sm btn-primary' %>
        <br>
      <% end %>
      <% @notices.reverse_each do |notice| %>
       <div class="oguri left">
          <h2><strong>
             <%= link_to notice.title, notice.image.to_s %>
          </strong></h2>
          <p class="right">
            <%= notice.updated_at.strftime("%Y年%m月%d日 %H時%M分") %>
            <% if current_user.admin %>
              <%= link_to '', edit_notice_path(notice), class: 'fa fa-pencil-square-o fa-lg' %>
              <%= link_to '', notice, method: :delete, data: { confirm: '本当に削除していいですか？' }, class: "fa fa-trash-o fa-lg" %>
            <% end %>
          </p>
       </div>
      <% end %>
      
    </div>
  </div>
</div>
